.home-page{
    height: 300px;
    background-color: rgb(46, 160, 4);
    padding: 10%;
    border-radius: 25px;
    display: flex;
    /* justify-content: space-around; */
    background-image: url("C://Users/Y MANIKANTA SWAMY/Pictures/Number_plate.jpg");
    /* background-image: url("C://Users/Y MANIKANTA SWAMY/Pictures/Number_Plate.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* filter: blur(1px); */
}
.sub-div-home{
    position: relative;
    overflow: hidden;
    width: 20%;
    height: 80%;
    float: left;
    padding: 5%;
    margin: 15px;
    /* background-color: rgb(171, 171, 171); */
    border-radius: 25px;
    /* background-image: url("file:///D:/AIML-CODING/DEEPLEARING/what-is-anpr.webp"); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background: transparent;
    backdrop-filter: blur(100px);
    
    font-size: 45px;
    font-family: sans-serif;
    font-weight: bolder;
    margin-left: 15%;
    /* text-align: center; */
}
/* .sub-div-home a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px; /* Adjust font size as needed */
    /* font-size: 45px; */
    /*
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style:oblique;
} 
*/

.sub-div-home:hover {
    width: 25%; /* Make the box wider on hover */
    height: 80%; /* Make the box taller on hover */
}

.sub-div-home a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px; /* Adjust font size as needed */
}

.sub-div-home a:hover {
    color: red; /* Change color on hover */
}



a{
    text-decoration: none;
}
a:hover{
    color: red;
}
.sub-div-home:hover {
    filter: blur(0.5px); /* Adjust the blur value as needed */
    transition: filter 0.2s ease; /* Add transition effect */
    /* background-color: red; */
    /* background-color:rgb(94, 167, 93); */
    /* size: 30%; */
}
