<!DOCTYPE html>
<html>
    <head>
        <title>AI DETECTION</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='number_plate.css') }}">
    </head>
    <body>
        <div class="home-page">
            <div class="sub-div-home" >
                <a href="{{url_for('NPRImage')}}">Number Plate Detection By Using Image</a>
            </div>
            <div class="sub-div-home" >
                <a href="NPRVideo">Number Plate Detection By Using Scanning</a>
            </div>
        </div>
    </body>
</html>