<!DOCTYPE html>
<html>
    <head>
        <title>AI DETECTION</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='number_plate.css') }}">
    </head>
    <body>
        <div class="home-page">
            <div class="sub-div-home" >
                <a href="ObjImage">Object Detection By Uploading Image</a>
            </div>
            <div class="sub-div-home" >
                <a href="ObjVideo">Object Detection by Live Cam</a>
            </div>
        </div>
    </body>
</html>