<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text Detection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Text_Detection.css') }}">
</head>
<body>
  <header>
    <h1>Number Plate Recognition</h1>
  </header>
      <form action="{{url_for('textdetect')}}" enctype="multipart/form-data" method="post">
          <br><br><br>
          <h1>Flower Recognition System</h1>
          <div class="area">
              <br><br><br>
              <br><br>
              <input type="file" name="file" id="file">  
              <br><br>
          </div>
          <button type="submit">Predict</button>
      </form> 
      {% if ans!='' %}
      <h1>{{ans}}</h1>
      {% endif %}
</body>
</html>
